
body        { font-family: Segoe UI,Roboto,Helvetica Neue,PingFang SC,Noto Sans,Noto Sans CJK SC,Microsoft YaHei,sans-serif; font-size: 80%;}
table       { font-size: 100%; }
#pre         { color: #888888; }
p           { margin: 20px 0; }
/* -- heading ---------------------------------------------------------------------- */
.heading {
    margin: 10px;
}
.heading .attribute {
    margin-top: 1ex;
    margin-bottom: 0;
}

/* -- css div popup ------------------------------------------------------------------------ */
a.popup_link {
}
a.popup_link:hover {
    color: #0062cc;
}
.popup_window {
    display: none;
    position: relative;
    left: 0px;
    top: 0px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #F9F9F9;
    font-family: "Lucida Console", "Courier New", Courier, monospace;
    text-align: left;
    font-size: 8pt;
    width: 100%;
}

/* -- report ------------------------------------------------------------------------ */
tr {
    height: 30px;
    font-size: 12px;
    text-align: left;
}
#show_detail_line {
    margin-top: 3ex;
    margin-bottom: 1ex;
}
#result_table {
}
#header_row {
    font-weight: bold;
    color: #212529;
    background-color: #d0e9c6;
    font-size: 14px;
    height: 35px;
}
#result_table td {
    border: 1px solid #b9b4b4a1;
    padding: 2px;
    word-wrap: break-word;
}
.middle-col {
    border-left: 1px solid #d4cfcf8f;
    border-right: 1px solid #d4cfcf8f;
}
.total-area {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 15px;
}
.table { table-layout: fixed; }
#total_row  { font-weight: bold; }
.passClass  { background-color: #00ff3733; }
.failClass  { background-color: #eab2b73d; }
.errorClass { background-color: #a3c8ec2e; }
.skipClass { background-color: #40403f38; }
.passCase   { color: #28a745d9; }
.failCase   { color: #dc3535d9; font-weight: bold; }
.errorCase  { color: #ffa90cc9; font-weight: bold; }
.skipCase  { color: #40403f9e; }
.hiddenRow  { display: none; }
.testcase   { margin-left: 0em; }
.table td, .table th {vertical-align: middle;}
/* -- ending ---------------------------------------------------------------------- */
#ending {
    min-height: 30px;
}
.github {
    height: 135px;
    width: 135px;
    top: 0;
    right: 0;
    position: absolute;
}
/* -- log的error字体红色 ---------------------------------------------------------------------- */
span.error, span.failed, span.xpassed, .error .col-result, .failed .col-result, .xpassed .col-result  {
	color: red;
}
span.skipped, span.xfailed, span.rerun, .skipped .col-result, .xfailed .col-result, .rerun .col-result {
	color: orange;
}

.ansi1 {
    font-weight: bold;
}

.ansi31 {
    color: #ff0000;
}

.ansi34 {
    color: #0849de;
}